.menu{
    display: flex;
    gap: 72px;
    font-size: 1.25rem;
}
.menu li{
    border-bottom: 4px solid transparent;
    transition: border-color .5s;
}

.menu li:hover{
    border-color: var(--primary-color);
}

@media (max-width: 640px){
    header{
        max-width: 640px;
        display: flex;
        justify-content: space-around;
    }

    .bars{
        display: block;
        font-size: 30px;
    }

    .menu>li>a{
        display: none;
    }
}