.projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}

.card-container{
    max-width: 1100px;
    /* background-color: tomato; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 62px;
    margin-top: 50px;
}

.card{
    position: relative;
    display: block;
    overflow: hidden;
    
}

.card::before{
    content: "Clique aqui para ver o projeto";
    background-color: #0009;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-content: center;
    font-weight: bold;
    transform: translateY(100%);
    transition: transform 0.5s;
}

.card:hover::before{
    transform: translateY(0%);
}

@media (max-width: 960px){
.projetos{
    margin-top: 200px;
    height: auto;
}

    .card-container{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    
    .card>img{
        /* width: 800px ; */
        width: 90vw;
        height: 420px ;
    }
}

@media (max-width: 640px){
    .projetos{
       height: auto ;
    }
    .card>img{
        
        width: 90vw;
        height: auto;
    }

    .card-container{
        max-width: 90vw;
        
    }

    .section-title{
        font-size: 110px;
    }

}